@use "sass:math";
@use "sass:map";

//ブレイクポイント
$breakpoints: (
  md: 767,
  lg: 959,
);
//メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map.get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map.get($breakpoints,'lg')}px)",
);


// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map.get($mediaquerys, $mediaquery)} {
    @content;
  }
}
// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
    @return math.div($pixels, 10) * 1rem;
}
@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return math.div($number, $number * 0 + 1);
    }
    @return $number;
}
@function vw($font_size) {
    @return calc(#{$font_size} / 750 * 100vw);
}


$base-font-family: "YuGothic Medium", "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "Yu Gothic", "游ゴシック", sans-serif;
$second-font-family: "New Atten", sans-serif;
$bold : 700;
$medium : 500;
$normal : 400;
$light : 300;

$color-black: #323232;
$color-white: #fff;
$color-theme: #003566;
$color-red: #6F4C4C;
$color-bg_side: #D1E0E6;
$color-main_gray: #7E7C7C;

$inner: 1000px;

$padding-pc: rem(25);
$padding-sp: rem(15);
