@use "../global" as * ;


html {
    font-size: 16px;
    @include mq(md) {
        font-size: vw(16);
    }
}

body {
    font-family: $base-font-family;
    font-weight: $normal;
    color: $color-black;
    line-height: 1.6;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    transition: opacity .3s ease;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.inner {
    width: 100%;
    max-width: calc($inner + ($padding-pc * 2));
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    @include mq(md) {
        padding-right: $padding-sp;
        padding-left: $padding-sp;
    }
}

.only-sp {
    display: none;
    @include mq(md) {
        display: block;
    }
}

.only-pc {
    @include mq(md) {
        display: none;
    }
}

// 共通クラス
.common-description {
    font-size: rem(16);
    line-height: 1.8;
    color: $color-main_gray;
    
    @include mq(md) {
        font-size: rem(14);
    }
}

.common-box-text {
    display: inline-block;
    background: $color-theme;
    color: $color-white;
    font-weight: $bold;
    text-transform: uppercase;
}

.common-title {
    font-weight: $bold;
    color: $color-theme;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
}

// Swiperの基本スタイル
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: rem(18);
    background: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
