@use "../global" as * ;

// stickyを機能させるためのスタイル
#Contents {
  overflow: clip;
}

// メイン
#SN250811denim {
// JSスタイル
.js-fadeIn {
  opacity: 0 ;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}
.js-fadeIn.visible {
  opacity: 1 ;
  visibility: visible;    
}
.fadeInZoom {
  overflow: hidden;
}
.fadeInZoom img {
  opacity: 0;
  transform: scale(1.1);
  transition: all 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fadeInZoom.view img {
  opacity: 1;
  transform: scale(1);
}
}